:root {
    /* Colour Palette - default light theme*/
    --colour-bg: #f4f7ff;
    --colour-surface: #ffffff;
    --colour-primary: #2f4fd6;
    --colour-primary-dark: #2f3e63;                             
    --colour-accent: #A94E1A;
    --colour-text: #1f2933;
    --colour-text-muted: #6b7280;
    --colour-border: #dce4ff;
    --colour-form: #ccc;
    --colour-shadow: #00000026;

    /* Typographic pairing */
    --font-display: "PlayFair Display", serif;
    --font-body: "Inter", system-ui, sans-serif;

    /* Type scale */
    --text-xs: 0.8rem;
    --text-s: 1rem;
    --text-m: 1.25rem;
    --text-l: 1.56rem;
    --text-xl: 1.95rem;
    --text-xxl: 2.44rem;

    /* Spacing scale */
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-s: 0.75rem;
    --space-m: 1rem;
    --space-l: 1.5rem;
    --space-xl: 2rem;
    --space-xxl: 3rem;

    /* Micro interaction easing curve */
    --ease-smooth: cubic-bezier(0.2, 0.8, 0.2, 1);

    /* Motion distance scale */
    --move-small: -3px;
    --move-medium: -4px;
    --move-large: -6px;
}

[data-theme="dark"] {
    --colour-bg: #0f172a;
    --colour-surface: #1e293b;
    --colour-primary: #7c95ff;
    --colour-primary-dark: #93a6ff;
    --colour-accent: #f4a261;
    --colour-text: #e5e7eb;
    --colour-text-muted: #94a3b8;
    --colour-border: #334155;
    --colour-shadow: #595959;
}

:focus-visible {
    outline: 2px solid var(--colour-primary);
    outline-offset: 2px;
}

.skip-link { /* For hiding the skip to main content link (accessibility feature)*/
    position: absolute;
    top: -100px;
    left: 0;
    padding: var(--space-s) var(--space-m);
    background: var(--colour-primary);
    color: var(--colour-surface);
    z-index: 100;
}

.skip-link:focus {
    top: var(--space-s);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn-animated {
    transition: transform 0.4s var(--ease-smooth),
                box-shadow 0.3s var(--ease-smooth);
}

.btn-animated:hover,
.btn-animated:focus-visible {
    transform: translateY(var(--move-medium));
    box-shadow: 0 var(--space-s) var(--space-m) var(--colour-shadow);
}

.btn-animated:active {
    transform: translateY(0);
    box-shadow: 0 var(--space-xs) var(--space-s) var(--colour-shadow);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--colour-surface);
    box-shadow: 0 var(--space-xs) var(--space-m) var(--colour-shadow);
}

.navbar {
    display: flex;
    
    gap: var(--space-m);
    align-items: center;
    background: var(--colour-surface); 
}

.navbar a {
    display: inline-flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    padding: var(--space-l);
    color: var(--colour-primary);
    font-size: var(--text-m);
    background: var(--colour-surface);   
    border-radius: var(--space-s);                  
    text-decoration: none;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;

    background: linear-gradient(
        90deg,
        var(--colour-primary),
        var(--colour-accent)
    );

    transition: width 0.3s ease;
}

.navbar a:hover::after,
.navbar a:focus-visible::after {
    width: 100%;
}

.navbar a.active::after {
    width: 100%;
}

#theme-toggle {
    font-size: var(--text-m);
    border: none;
    margin-left: auto;
    padding: var(--space-l);
    cursor: pointer;
}

#theme-toggle:hover {
    background: var(--colour-primary-dark);
}

html, body {
    min-height: 100vh;
    margin: 0; 
}

main {
    flex: 1;
    width: 100%;
    max-width: 1200px;       
    margin: 0 auto;          
    padding: var(--space-l);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    color: var(--colour-text);
    font-size: var(--text-s);
    transition: background 0.5s ease, color 0.5s ease;
    background: var(--colour-bg);
}

.page-title {
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
    grid-column: 1/-1;
}

h1, h2, h3, h4 {
    font-family: var(--font-display);
    color: var(--colour-primary-dark);
}

p {
    font-family: var(--font-body);
    color: var(--colour-text);
}

a {
    color: var(--colour-primary);
}

section {
    margin-bottom: var(--space-xl);
}

button {
    background: var(--colour-border);
    color: var(--colour-text);
    padding: var(--space-xs) var(--space-m);
    border-radius: var(--space-s);
}

footer {
    margin-top: 60px;
    padding: var(--space-l);
    text-align: center;
    font-size: var(--text-s);
    border-top: 1px solid var(--colour-primary-dark);
}

/* For the Home page */ 

.hero > * {
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
}

.hero {
    padding-top: 80px;
    padding-bottom: var(--space-xxl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--space-xl);
}

.hero-title {
    font-size: var(--text-xxl);
    margin-bottom: var(--space-s);

    background: linear-gradient(
        90deg,
        var(--colour-primary),
        var(--colour-accent)
    );
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

.hero-tagline {
    animation-delay: 0.1s;
}

.hero-subtitle {
    font-size: var(--text-m);
    margin-bottom: var(--space-m);
    animation-delay: 0.2s;
    max-width: 650px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-l);
    margin-top: var(--space-l);
    animation-delay: 0.3s;
}

.hero-btn {
    display: inline-flex;          
    align-items: center;
    justify-content: center;

    font-size: var(--text-m);
    color: var(--colour-surface);

    background: linear-gradient(
        135deg,
        var(--colour-primary),
        var(--colour-accent)
    );
    
    padding: var(--space-m) var(--space-l);
    border-radius: var(--space-s);

    text-decoration: none;
}

.hero-btn.secondary {
    background: linear-gradient(
        135deg,
        var(--colour-primary),
        var(--colour-accent)
    );
}

.home-skills {
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
    margin-top: var(--space-xl);
    animation-delay: 0.4s;
}

.home-skills h2 {
    text-align: center;
}

.home-skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: var(--space-m);
    flex-wrap: wrap;
    justify-content: center;
}

.home-skills li {
    background: var(--colour-surface);
    border: 1px solid var(--colour-border);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--space-s);
    box-shadow: 0 var(--space-xs) var(--space-s) var(--colour-shadow);
}

.home-skills li:hover {
    transform: translateY(var(--move-small));
    box-shadow: 0 var(--space-s) var(--space-m) var(--colour-shadow);
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* For the Projects page */

.project-title {
    background: linear-gradient(
        90deg,
        var(--colour-primary),
        var(--colour-accent)
    );
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

.card {
    background: var(--colour-surface);
    border: 1px solid var(--colour-border);
    padding: var(--space-l);
    border-radius: var(--space-s);
    margin: var(--space-m);
    overflow: hidden;

    box-shadow:
        0 var(--space-xs) var(--space-m) var(--colour-shadow);

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(var(--move-large)) scale(1.02);
    box-shadow:
        0 var(--space-m) var(--space-l) var(--colour-shadow);
}

.card img {
    width: 100%;
    aspect-ratio: 16/9; 
    object-fit: cover;
    display: block;
    border-radius: var(--space-s);
}

.project-link {
    display: inline-flex;
    align-items: center;
    gap: var(--space-s);
    margin-top: var(--space-m);

    text-decoration: none;
    font-weight: 500;
    color: var(--colour-primary);
}

.project-link::after {
    content: "→";
    transition: transform 0.2s ease;
}

.project-link:hover::after {
    transform: translateX(var(--space-xs));
}

.hidden {
    opacity: 0;
    transform: translateY(var(--space-xl));
}

.show {
    animation: fadeUp 0.4s ease forwards;
}

/* For the About page */

.about-statement {
    display: flex;
    align-items: center;
    gap: var(--space-l);
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.1s;
}

#self-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: var(--space-s);
}

.timeline-title {
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.2s;
}

#timeline {
    list-style: none;
    padding: 0;
    margin: var(--space-l) 0;
}

#timeline li {
    margin-bottom: var(--space-m);
    border: 1px solid var(--colour-border);
    border-radius: var(--space-s);
    overflow: hidden;
    background: var(--colour-surface);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
}

#timeline li:nth-child(1) {
    animation-delay: 0.1s;
}

#timeline li:nth-child(2) {
    animation-delay: 0.2s;
}

#timeline li:nth-child(3) {
    animation-delay: 0.3s;
}

#timeline li:nth-child(4) {
    animation-delay: 0.4s;
}

#timeline li:nth-child(5) {
    animation-delay: 0.5s;
}

#timeline li:hover {
    transform: translateY(var(--move-small)) scale(1.01);
    box-shadow: 0 var(--space-xs) var(--space-m) var(--colour-shadow);
}

.content {
    max-height: 0;
    overflow: hidden;
    padding: 0 var(--space-m);
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), padding 0.4s ease;
    line-height: 1.6;
}

.content.open {
    max-height: 500px;
    padding: var(--space-m);
}

.toggle {
    width: 100%;
    text-align: left;
    padding: var(--space-m);
    font-size: var(--text-m);
    background: linear-gradient(
        90deg,
        var(--colour-primary),
        var(--colour-accent)
    );
    color: white;
    border: none;
    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle::after {
    content: "▼";
    transition: transform 0.3s ease;
}

.toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

#resume-prompt {
    opacity: 1;
    transition: opacity 0.5s ease;
    position: fixed;
    bottom: var(--space-l);
    right: var(--space-l);
    background: var(--colour-surface);
    border: 1px solid var(--colour-border);
    padding: var(--space-m);
    border-radius: var(--space-s);
    box-shadow: 0 var(--space-xs) 10px var(--colour-shadow);
    z-index: 1000;
}

#resume-btn {
    background: linear-gradient(
        135deg,
        var(--colour-primary),
        var(--colour-accent)
    );
    color: var(--colour-surface);
    border: none;
}

.fade-out {
    opacity: 0 !important;
    pointer-events: none; /* Prevents clicking the button while it's fading */
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background: linear-gradient(
        90deg,
        var(--colour-primary),
        var(--colour-accent)
    );
    z-index: 2000;
    transition: width 0.1s linear;
}

/* For the Contact page*/

.contact-layout {
    max-width: 800px;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    margin: 0 0 var(--space-l) 0;
}

.icon {
    width: var(--space-m);
    height: var(--space-m);
    margin-right: var(--space-s);
    vertical-align: middle;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    text-decoration: none;
    padding: var(--space-m);
    border-radius: var(--space-s);
    background: var(--colour-surface);
    border: 1px solid var(--colour-border);
    color: var(--colour-text);
    font-weight: 500;

    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
    transition: transform 0.2s ease,
                box-shadow 0.2s ease,
                border-left 0.2s ease;
}

.contact-link:hover,
.contact-link:focus-visible {
    transform: translateX(6px);
    border-left: var(--space-xs) solid var(--colour-primary);
    box-shadow: 0 var(--space-xs) var(--space-m) var(--colour-shadow);
}

.contact-link:nth-child(1) {
    animation-delay: 0.1s;
}

.contact-link:nth-child(2) {
    animation-delay: 0.2s;
}

.contact-link:nth-child(3) {
    animation-delay: 0.3s;
}

.contact-message {
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.4s;
    text-align: left;
}

#contact-form {
    margin: var(--space-l) 0 0 0;
}

.form-group label {
    display: block;
    margin-bottom: var(--space-xs);
    font-weight: 500;
}

.form-group {
    opacity: 0;
    transform: translateY(var(--space-l));
    animation: fadeUp 0.4s ease forwards;
}

@keyframes fadeInOnly {
    to {
        opacity: 1;
    }
}

.form-btn {
    opacity: 0;
    animation: fadeUp 0.4s ease forwards;
}

.form-group:nth-of-type(1) {
    animation-delay: 0.5s;
}

.form-group:nth-of-type(2) {
    animation-delay: 0.6s;
}

.form-group:nth-of-type(3) {
    animation-delay: 0.7s;
}

.form-btn {
    opacity: 0;
    animation: fadeInOnly 0.4s ease forwards;
    animation-delay: 0.8s;

    background: linear-gradient(
        135deg,
        var(--colour-primary),
        var(--colour-accent)
    );
    color: var(--colour-surface);
    border: none;
    padding: var(--space-m) var(--space-xl);
    margin-top: var(--space-s);
    font-size: var(--text-s);
    cursor: pointer;
}

input, textarea {
    width: 100%;
    padding: var(--space-s);
    border: 2px solid var(--colour-form);
    border-radius: var(--space-s);
    font-family: var(--font-body);
    transition: border-color 0.2s ease;
}

textarea {
    height: calc(var(--space-xxl) * 2.5);
}

input:focus, textarea:focus {
    outline: none; 
    border-color: var(--colour-primary);
    transition: border-color 0.2s ease;
}

input.error, textarea.error {
    border-color: var(--colour-accent);
}

input.success, textarea.success {
    border-color: var(--colour-primary);
}

.error-message {
    color: var(--colour-accent);
    font-size: var(--text-xs);
    height: var(--space-s);
    display: block;
}

.form-hidden {
    opacity: 0;
    transform: translateY(var(--space-l));
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#form-success {
    max-width: 500px;
    margin: var(--space-xl) auto;
    padding: var(--space-m) var(--space-l);

    background: var(--colour-surface);
    border: 1px solid var(--colour-border);
    border-left: 5px solid var(--colour-primary);
    border-radius: var(--space-s);

    box-shadow: 0 var(--space-xs) var(--space-m) var(--colour-shadow);

    text-align: center;
    font-weight: 500;

    opacity: 0;
    transform: translateY(var(--space-l));
}

.form-success-show {
    animation: fadeUp 0.5s var(--ease-smooth) forwards;
}

@media (max-width: 600px) { /* Mobile view - resizing elements and switching to vertical stacked layout */
    .layout { 
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-s);
    }

    body {
        flex-direction: column;
        font-size: var(--text-s);
        padding: var(--space-s);
        max-width: 600px;
        margin: 0 auto;
    }

    .hero {
        min-height: 60vh;
        padding: var(--space-l);
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    .hero-btn {
        width: 100%;
        max-width: 250px;
    }

    .hero-title {
        font-size: var(--text-xl);
    }

    .hero-subtitle {
        font-size: var(--text-m);
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-s);
        padding: var(--space-xs) var(--space-xs);
    }

    .navbar a {
        font-size: var(--text-m);
        padding: var(--space-l) var(--space-xs);
    }

    #theme-toggle {
        width: 100%;
        text-align: center;
        padding: var(--space-s); 
        margin-top: var(--space-xxs);
        order: 2;   
        margin-left: 0;
    }

    .about-statement {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 1024px) {  /* Switching to non-uniform CSS grid for laptop and desktop */
    .layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(120px, auto);
    }

    .hero {
        grid-column: 1 / -1;
    }

    footer {
        grid-column: 1 / -1;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        /* Makes animations and transitions complete instantly, otherwise if disabled outright the elements stay at opacity 0 and never reach opacity 1 */
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        animation-delay: 0ms !important;    /* Overrides all staggered animation and transition delays */
        transition-delay: 0ms !important;
    }
}